<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1076735569679-b85d623gjnr8aettasee67cfmbd1imtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076735569679-b85d623gjnr8aettasee67cfmbd1imtn</string>
	<key>API_KEY</key>
	<string>AIzaSyDhUQeYTRzfeTEeNm6a36iJgVcI2qVrO7E</string>
	<key>GCM_SENDER_ID</key>
	<string>1076735569679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tops.device-controller</string>
	<key>PROJECT_ID</key>
	<string>device-controller-c57d5</string>
	<key>STORAGE_BUCKET</key>
	<string>device-controller-c57d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076735569679:ios:094bc3295ffaebc7</string>
	<key>DATABASE_URL</key>
	<string>https://device-controller-c57d5.firebaseio.com</string>
</dict>
</plist>